*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border: 1px solid black;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: aqua;
}
main{
    border: 1px solid black;
    min-height: 500px;
    background-color: beige;
}
footer{
    border: 1px solid black;
    min-height: 100px;
    background-color: rgb(106, 106, 38);
}
@media (max-width:600px){
    header{
        background-color: blue;
    }
}