*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 427px;;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F2FD;
    font-family:sans-serif;
    
}
.freeplan{
     box-shadow:0px 1px 10px 0px #00000040;
    height: 300px;
    width: 250px;
    padding: 32px;
    border-radius: 8px;
}
.basicplan{
    box-shadow:0px 1px 10px 0px #00000040;
    height: 300px;
    width: 250px;
    padding: 32px;
    border-radius: 8px;
}
.proplan{
    box-shadow:0px 1px 10px 0px #00000040;
    height: 300px;
    width: 250px;
    padding: 32px;
    border-radius: 8px;
}
    
img{
    height: 18px;
}
.sec{
    margin: 20px;
    
}
button{
    border-radius: 20px;
    padding: 5px;

    
}
.btn-1{
    background-color: #1C1C1C;

    color: white;
}
.btn-2{
    background-color: #FFFFFF;

}
.btn-3{
    background-color: #1C1C1C;
     color: white;
}
.plan{
    margin: 15px ;
}
.dolar>span{
    font-size: larger;
    font-weight: bolder;
}